<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<link rel="shortcut Icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

<!-- Vendor Icons -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/fontawesome-free-5.13.0-web/css/all.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/material-icons/material-icons.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/MaterialDesign-Webfont-5.9.55/css/materialdesignicons.min.css') }}">

<!--Vendor styles -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/vuetify-v2.4.2/vuetify.min.css') }}">

<!--MCode styles -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/v_styles.css') }}">